<div id="todo-items-list">
    <div class="box" id="header-section">
        <div class="row">
            <div class="col-3 header-col">Name</div>
            <div class="col-3 header-col">Status</div>
            <div class="col-6 header-col">Actions</div>
        </div>
    </div>
    {% for todo in todo_list %}
        {% include "includes/edit_modal.html" %}
        <div class="row box item-section">
            <div class="col-3 todo-title">{{todo.title}}</div>
            <div class="col-3">
                {% if not todo.complete %}
                    <span class="badge bg-secondary status-badge">Not Completed</span>
                {% else %}
                    <span class="badge bg-success status-badge">Completed</span>
                {% endif %}
            </div>
            <!-- Actions -->
            <div class="col-6">
                <button class="btn fixed-width custom-button blue-button" href="/update/{{todo.id}}">
                    {% if todo.complete %}
                        Uncomplete
                    {% else %}
                        Complete
                    {% endif %}
                </button>
                <button class="btn btn-secondary fixed-width custom-button" data-bs-toggle="modal"
                    data-bs-target="#Modal-Edit-Item-{{ todo.id }}">
                    Edit Task
                </button>
                <button class="btn fixed-width custom-button red-button" href="/delete/{{todo.id}}">
                    Delete
                </button>
            </div>
        </div>
    {% endfor %}
</div>
