body {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.box-layout {
    background-color: white;
    width: 55%;
    box-shadow: 8px 8px;
    padding: 0px 40px 40px 40px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    border: #fff 50px solid;
}


.background-layout {
    /* background-color: darkslategrey; */
    height: 100vh;
    padding-top: 40px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(98, 168, 198, 1) 64%);
}

.create-task-form {
    /* display: flex; */
}

/* Tasks List */
.box {
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 10px 0 10px 0;
}

/* List Header */
#header-section {
    padding: 1em 1em;
}

#header-section .header-col {
    padding-left: 0.6em;
    font-weight: 700;
    font-size: 1.28571429em;
}

.col-3 {
    padding-left: 0;
}

/* List items */
.item-section {
    padding: 0.5em 0.5em;
}

.item-actions {
    float: right;
}

.task-title {
    font-weight: 700;
}

.fixed-width {
    width: 30%;
}

.status-badge {
    text-align: center;
    font-size: 1rem !important;
    padding: 0.5833em 0.833em;
}

/*  Buttons */
.custom-button {
    border-radius: 0.28571429rem;
    border: none;
    color: #fff;
    text-shadow: none;
    min-height: 1em;
    font-weight: 700;
    line-height: 1em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-align: center;
    text-decoration: none;
}

.blue-button {
    background-color: #4092d1;
}

.blue-button:hover {
    background-color: #1678c2;
    color: #fff;
}

.action-button {
    color: #000;
    opacity: 0.7;
    font-size: 2em;
    padding: 0;
    margin: 0 15px 0 15px;
}

.action-button:hover {
    opacity: 1;
}

#task-delete-button {
    color: #7c7c7c;
}

#task-delete-button:hover {
    color: #b21e1e;
}

#task-edit-button {
    color: #648c9c;
}

.bi-check-circle-fill {
    color: #5cb85c;
}

.bi-x-circle-fill {
    color: #f0ad4e;
}

.red-button {
    background-color: #ca404e;
}

.red-button:hover {
    background-color: #b21e1e;
    color: #fff;
}

#task-status-badge-container {
    width: 140px;
}
